.name{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans';
    font-size: 23px;
    display: inline;
}

.speech{
    color:rgb(77, 75, 75)
    font-family: monospace;
    font-size: 18px;
}

.direction{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.name:hover{
    color: rgb(242, 234, 0);
    background-color: rgb(157, 152, 159);
    text-shadow: 4px 4px 4px rgb(62, 169, 149);
    border: 1px solid black;
}
.direction:hover{
    color: rgb(52, 42, 189);
    background-color: rgb(209, 188, 162);
    text-shadow: 4px 4px 4px rgb(214, 135, 151);
    border: 1px solid black;

}
.actor{
    font-family:'Times New Roman', Times, serif
    border-collapse: collapse;
    width: 100%;
}
.actor td,.actor th {
    border: 1px solid coral;
    padding: 7px;
}
.actor tr.nth-child(eve){background: color #f1f1f1;}
.actor tr:hover{background-color: rgb(152, 218, 108);}
.actor th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(162, 31, 118);
    color: rgb(12, 254, 145);
}
ul.navbar-horizontal li{

    float:left;
    
    display:inline;
    
    }
.navbar-horizontal{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}